* {
    box-sizing: border-box;
}

body {
    background-image: url(Coderen-Portfolio-background.png);
}

.Introduction {
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
}


.Table-Of-Contents {
    border: 5px solid red;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: right;
}
